@font-face {
    font-family: 'Rufina-Stencil-Alt-01';
    src: url('Rufina-Stencil-Alt-01-Regular.woff2') format('woff2'),
        url('Rufina-Stencil-Alt-01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

