body {
    font-family: 'Source Sans Pro Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.login-page {
    background: #d2d6de;
}

.auth-links {
    margin-top: 10px;
}

.invalid-feedback{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}

.login-logo {
    margin-bottom: 16px;
    font-size: 35px;
    text-align: center;
    font-weight: 300;
}

.login-box-msg {
    font-family: 'Source Sans Pro Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 100;
    padding: 0;
    margin: 0;
    text-align: center;
}

.login-box, .register-box {
    width: 320px;
    margin: auto auto;
    padding-top: 3%;
}

.login-box-body, .register-box-body {
    background: #f0f0f0;
    padding: 16px 24px;
    border-top: 0;
    color: #666;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, .22) inset, 0 0 0 0 transparent;
}

button {
    border-radius: .28571429rem !important;
}

.support-heading {
    font-size: 1.28571429em;
}

.panel, .panel-body {
    background: #f0f0f0 !important;
    box-shadow: 0 0 0 -2px rgba(34, 36, 38, .22) inset, 0 0 0 0 transparent;
    height: 128px;
    margin-bottom: 16px;

}

.panel-body p {
    line-height: 1.4285em !important;
    font-size: 16px;
}

.alert {
    margin-bottom: 5px!important;
}